[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "==3.2", extras = ["argon2"]}
environs = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary= "*"
daphne = "*"
celery = ">=5.2.2"
redis = "*"
django-cors-headers = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
